{# new twig template file - hibbittsdesign.org #}
<div class="notices yellow list-blog-header">
    <div class="list-blog-padding">
        <div class="listbullet">
            {{ page.content|raw }}
        </div>
    </div>
</div>
