{# single line formatting for Page Inject Plugin compatibility - hibbittsdesign.org #}
{% block content %}<a class="newwindow external-link" href="{{ page.header.embedly_card_url }}">{{ page.header.embedly_card_title }}</a>{% endblock %}
