{% if not page.header.hide_git_sync_repo_link %}
    <div class="gitrepo-link-note">
        <p>{{ theme_var('git_sync_edit_note_text') }}
            {% include 'partials/git_sync_repo_link.html.twig' %}
        </p>
    </div>
{% endif %}
