{% set item_col = show_sidebar ? 'col-9 col-md-12' : 'col-12' %}
{% set sidebar_col = show_sidebar ? 'col-3 col-md-12' : 'col-12' %}

{# check content display flag - hibbittsdesign.org #}
{% if grav.uri.param('chromeless') or grav.uri.param('embedded') or grav.uri.param('standalone') or theme_var('chromeless.enabled') %}
    {% set item_col = 'col-12' %}
    {% set sidebar_col = 'col-12' %}
{% endif %}

<div class="columns">
    <div id="item" class="column {{ item_col }} extra-spacing">
        {% block item %}{% endblock %}
    </div>
    {# check content display flag - hibbittsdesign.org #}
    {% if not (grav.uri.param('chromeless') or grav.uri.param('embedded') or grav.uri.param('standalone')) and not(theme_var('chromeless.enabled')) %}
        {% if show_sidebar %}
            <div id="sidebar" class="column {{ sidebar_col }}">
                {% block sidebar %}
                {% endblock %}
            </div>
        {% endif %}
    {% endif %}
</div>
