{# single line formatting for Page Inject Plugin compatibility - hibbittsdesign.org #}
{% block content %}<a class="newwindow external-link" href=" {{ page.header.pdf_url }}">{{ page.header.pdf_title }}</a><br>{% endblock %}
