{# single line formatting for Page Inject Plugin compatibility - hibbittsdesign.org #}
{% block content %}<a class="newwindow external-link" href=" {{ 'https://www.swipe.to/embed/' ~ page.header.swipe_deck_id }}">{{ page.header.swipe_deck_title }}</a><br>{% endblock %}
