{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="columns">

        <div id="section" class="column col-12">

            {% if not(page.header.hide_page_title) and not(grav.uri.param('hidepagetitle')) %}
                <h3>{{ page.title }}</h3>
            {% endif %}

            {{ page.content|raw }}

            {% set collection = page.collection() %}
            {% if page.header.display_template %}
                {% set templatename = page.header.display_template ~ '.html.twig' %}
            {% endif %}
            {% for child in collection %}
                {% if not templatename %}
                    {% set templatename = child.template ~ '.html.twig' %}
                {% endif %}
                <p>
                    {% include templatename with {
                        'page':child,
                        'displaypagetitle':page.header.display_child_page_titles,
                        'displaycontenttitle':page.header.display_content_titles,
                        'displaycontentlinks':page.header.display_content_links
                    } %}
                </p>
            {% endfor %}

        </div>

    </div>

{% endblock %}
