{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="columns">

        <div id="section" class="column col-12">

            {% if not(page.header.hide_page_title) and not(grav.uri.param('hidepagetitle')) %}
                <h3>{{ page.title }}</h3>
            {% endif %}

            {{ page.content|raw }}
            {% set collection = page.collection() %}
            {% for child in collection %}
              {% if child.template == 'presentation' %}
                <div class="presentation-list-item">
                  <p>{% include 'partials/presentation_iframe.html.twig' with {'src': child.route|trim('/'),'fullpagepath':true } %}</p>
                </div>
              {% endif %}
            {% endfor %}

        </div>

    </div>

{% endblock %}
